name: Update Python Test Versions
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"
permissions:
  contents: read
jobs:
  update-dep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          persist-credentials: "false"
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.9
      - name: Install
        run: pip install --upgrade requests pyyaml
      - name: Scan for new python versions
        run: python ci/update_python_test_versions.py
      - name: Format results
        run: npx prettier --write ".github/workflows/update_python_test.yml"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: Update tested python versions
          title: Update tested python versions
          branch: update-python-versions
          labels: |
            skip-changelog
            dependencies
